.App {
  color: #764abc;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .media {
    animation: media-spin infinite 120s linear;
  }
}

@keyframes media-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

